<div class="order">
  <div class="eatery">
    <h2><%= order.eatery.website.blank? ? order.eatery.name : link_to(order.eatery.name, order.eatery.website) %></h2>
    <div class="info">
      Phone: <%= order.eatery.phone.blank? ? '?' : order.eatery.phone %>
    </div>
  </div>
  <ol>
    <% order.order_items.each do |item| %>
      <li><%= item.meal %><%= ", #{item.cost} pln" unless item.cost.blank? %> - <%= item.owner %></li>
    <% end %>
  </ol>
  <p class="total">Total: <%= order.order_items.inject(0) { |sum, item| sum += item.cost.to_f } %> pln</p>
  <%= partial :item_form, :order => order %>
</div>